@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#111;
color:#fff;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    position: sticky;
    z-index: 1000;
}
.logo{
    color: #ffc107;
    font-size: 28px;
}
.logo span{
    color: #ffc107;
}
.logo p{
    color: #ffc107;
    font-size: 13px;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li a{
    color: #ffc107;
    font-weight: 500;
    transition: .3s;
}
nav ul li a:hover{
    color: #ffc107;
}
.installation{
width:90%;
margin:40px auto;
}

.installation h1{
font-size:38px;
color:#fff;
margin-bottom:8px;
}

.install-container{
display:flex;
gap:25px;
}

.install-form{
flex:1;
background:#111;
padding:25px;
border-radius:10px;
}

.install-form input,
.install-form select,
.install-form textarea{
width:100%;
padding:14px;
margin-bottom:15px;
background:white;
border:1px solid #333;
color:#111;
border-radius:6px;
outline:none;
}

.install-form textarea{
height:90px;
resize:none;
}

.install-form button{
width:100%;
padding:15px;
background:#ffc107;
border:none;
border-radius:6px;
font-size:17px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.install-form button:hover{
background:#e6ac00;
}

.install-right{
flex:1;
}

.install-right img{
width:100%;
border-radius:10px;
margin-bottom:20px;
}

.benefits{
background:#1a1a1a;
padding:25px;
border-radius:10px;
}

.benefits p{
margin:18px 0;
font-size:18px;
}

.benefits i{
color:#ffc107;
margin-right:12px;
}

#message{
margin-top:20px;
color:#00ff66;
font-weight:bold;
text-align:center;
}

@media(max-width:900px){

.install-container{
flex-direction:column;
}

}