/*==========================
INSTALLATION PAGE CSS
=====================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
header{
    padding: 18px 8%;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid #222;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.logo h2 {
    font-size: 30px;
    color: #ffc107;
}
.logo p{
    color: #FFC107;
    font-size: 13px;
}

/* Main nav container jo sab items (logo, menu links, buttons) ko layout karega */
nav {
    justify-content: space-between;
    align-items: center;
    padding: 25px 250px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #111;
    
}

/* Links ki list ko center rakhne ke liye */
nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
}

/* Individual links ki styling */
nav ul li a {
    text-decoration: none;
    color: #ffc107;
    transition: color 0.3s ease;    /* Smooth hover effect ke liye */
}
.installation-btn{
    margin-left: 60px;
    background: #ffc102;
    color: #fff;
    padding: 12px 25px;
    border-radius: 6px;
    justify-content: space-between;
}
.installation-btn:hover{
    background: white;
    color: #000;
}
.install-hero{
    width:100%;
    min-height:80px;
    background:#111;
    padding:150px 8% 80px;
}

.install-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
}

.install-left{
    flex:1;
}

.install-left h4{
    color:#FFC107;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:15px;
}

.install-left h1{
    color:#fff;
    font-size:58px;
    line-height:1.2;
    margin-bottom:20px;
}

.install-left h1 span{
    color:#FFC107;
}

.install-left p{
    color:#dcdcdc;
    font-size:18px;
    line-height:1.8;
    margin-bottom:30px;
}

.feature-list{
    list-style:none;
    margin-bottom:35px;
}

.feature-list li{
    color:#fff;
    margin:12px 0;
    font-size:17px;
}

.book-btn{
    display:inline-block;
    background:#FFC107;
    color:#111;
    text-decoration:none;
    padding:15px 35px;
    border-radius:6px;
    font-weight:600;
    transition:.3s;
}

.book-btn:hover{
    background:#fff;
}

.install-right{
    flex:1;
    position:relative;
}

.install-right img{
    width:100%;
    border-radius:15px;
    display:block;
}

.quality-box{
    position:absolute;
    right:-20px;
    bottom:25px;
    background:white;
    color:#FFC107;
    padding:20px 30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.quality-box h2{
    font-size:40px;
    margin-bottom:5px;
}

.quality-box p{
    font-size:15px;
    font-weight:600;
}

/*==========================
SERVICES
===========================*/

.installation-services{
    padding:90px 8%;
    background:#111;
    color: white;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    margin-top:50px;
}

.install-card{
    background:#111;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.3s;
    text-align:center;
}

.install-card:hover{
    transform:translateY(-10px);
}

.install-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.install-card h3{
    margin:20px;
    color:#FFC107;
}

.install-card p{
    padding:0 20px 25px;
    color:#ffc107;
    line-height:1.7;
}
/*==========================
WHY INSTALL WITH US
===========================*/

.install-benefits{
    padding:90px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    background:#111;
    flex-wrap:wrap;
}

.benefit-left{
    flex:1;
}

.benefit-left img{
    width:100%;
    border-radius:15px;
}

.benefit-right{
    flex:1;
}

.benefit-right h4{
    color:#FFC107;
    font-size:18px;
    letter-spacing:2px;
}

.benefit-right h2{
    font-size:42px;
    margin:15px 0 35px;
    color:#FFC107;
}

.benefit{
    background:white;
    padding:20px;
    border-left:5px solid #FFC107;
    margin-bottom:20px;
    border-radius:8px;
}

.benefit h3{
    margin-bottom:10px;
    color:#FFC107;
}

.benefit p{
    color:#FFC107;
}

/*==========================
INSTALLATION PROCESS
===========================*/

.installation-process{
    background:#111;
    padding:90px 8%;
}

.installation-process .section-title h4{
    color:#FFC107;
}

.installation-process .section-title h2{
    color:#FFC107;
}

.installation-process .section-title p{
    color:white;
}

.process-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-top:50px;
}

.process-card{
    background:#1d1d1d;
    padding:35px 25px;
    border-radius:12px;
    text-align:center;
    transition:.3s;
}

.process-card:hover{
    transform:translateY(-10px);
    background:white;
}

.number{
    width:70px;
    height:70px;
    margin:auto;
    background:#FFC107;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
    font-weight:bold;
    margin-bottom:20px;
}

.process-card:hover .number{
    background:#111;
    color:#FFC107;
}

.process-card h3{
    color:#ffc103;
    margin-bottom:15px;
}

.process-card p{
    color:white;
}

.process-card:hover h3,
.process-card:hover p{
    color:#FFC107;
}

/*==========================
CTA SECTION
===========================*/

.cta-install{
    background:#111;
    padding:70px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    flex-wrap:wrap;
}

.cta-text h2{
    font-size:40px;
    color:#FFC107;
}

.cta-text p{
    margin-top:15px;
    color:white;
}

.cta-button a{
    display:inline-block;
    background:white;
    color:#FFC107;
    text-decoration:none;
    padding:15px 35px;
    border-radius:6px;
    font-weight:600;
    transition:.3s;
}

.cta-button a:hover{
    background:#fff;
    color:#111;
}

/*==========================
FOOTER
===========================*/

footer{
    background:#111;
    color:#fff;
    padding:70px 8% 20px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:40px;
}

.footer-box h2,
.footer-box h3{
    color:#FFC107;
    margin-bottom:20px;
}

.footer-box p,
.footer-box li{
    color:#ccc;
    line-height:1.8;
}

.footer-box ul{
    list-style:none;
}

.footer-box ul li{
    margin-bottom:10px;
}

.footer-box ul li a{
    color:#ccc;
    text-decoration:none;
}

.footer-box ul li a:hover{
    color:#FFC107;
}

.copyright{
    text-align:center;
    border-top:1px solid #333;
    margin-top:40px;
    padding-top:20px;
    color:#aaa;
}

/*==========================
RESPONSIVE
===========================*/

@media(max-width:991px){

.install-container,
.install-benefits,
.cta-install{
    flex-direction:column;
}

.install-left,
.install-right,
.benefit-left,
.benefit-right{
    width:100%;
}

.install-left h1{
    font-size:42px;
}

.quality-box{
    position:static;
    margin-top:20px;
}

}

@media(max-width:768px){

.install-left h1{
    font-size:34px;
}

.cta-text h2{
    font-size:30px;
}

.process-grid,
.service-grid{
    grid-template-columns:1fr;
}

.footer-container{
    grid-template-columns:1fr;
    text-align:center;
}

header{
    flex-direction:column;
}

nav ul{
    flex-direction:column;
    text-align:center;
}

nav ul li{
    margin:10px 0;
}

}
